<meta charset="utf-8" />
<meta name="description" content="" />

<title>world online project</title>

<link rel="shortcut icon" href="images/favicon.ico" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HTML5 shim et Respond.js, support de HTML5 et des media queries pour i.e version < 9 -->
<!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/css/theme_twop.css">
<script type="text/javascript" data-main="/js/main" src="/js/lib/require.js"></script>