html{
	height: 100%;
}

body{
	height: 95%;
}

#filter {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#popup
{

	position: absolute; visibility:visible
	top: 10%;
	left: 20%;
	width: 55%;
	height: 65%;
	padding: 0;
	margin:0;
	border: 1px solid black;
	background-color: #B1A688;
	z-index:11;
    opacity:0.9;
}



#rpg_bar_menu{
margin-top: 26px;

	background-color: black;
}

#rpg_bar_menu img{
 padding-top:4px;
}

nav input[type="checkbox"]{


}

aside{
	float: left;
	width: 20%;
	display:inline-block;
}

#arbo td:hover{
	background-color: yellow;
	border-radius: 20px;
}


aside #tabbed_area{
	height: 50%;
}

#tileset{
	max-height: 400px;
}


section{
	margin-top: 5px;
	height:82%;
	width: 55%;
	display:inline-block;
	border: 1px solid black;
	max-height: 700px;
}

#console{
	width: 92%;
	margin-left: 10px;
	height: 90%;
	border:1px solid black;
	overflow: auto;
}

#console p{
	margin:0px;
}

#sideright{
	float: none;
	display: inline-block;
	border:1px solid black;
	vertical-align: top;
	height: 89%;
	width: 20%;
}

footer{
	width: 100%;
	height: 35px;
}

/* pour le rpg */

map{
   border: 1px solid red;
}

#content_2 p{
	margin : 0px;
	padding:0px;
}

#tabbed_box
{
    margin: 0px auto 0px auto;
    width:300px;

}

.tabbed_box h4
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:23px;
    color:#ffffff;
    letter-spacing:-1px;
    margin-bottom:10px;
}

.tabbed_box h4 small
{
    color:#e3e9ec;
    font-weight:normal;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}

.tabbed_area
{
    border:1px solid #494e52;
    background-color:#636d76;
    padding:8px;
    height:95%;
    min-height: 500px;
}

ul.tabs
{
    margin:0px; padding:0px;
}

ul.tabs li
{
    list-style:none;
    display:inline;
}

ul.tabs li a
{
    background-color:#464c54;
    color:#ffebb5;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;
}

ul.tabs li a:hover
{
    background-color:#2f343a;
    border-color:#2f343a;
}

ul.tabs li a.active
{
    background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}

.content
{
    background-color:#ffffff;
    padding:10px;
    border:1px solid #464c54;
    max-height: 200px;
    overflow: auto;
    color: black;
	display:none;
}

#content_2, #content_3 { display:none; }


ul.tabs
{
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}

.content ul
{
    margin:0px;
    padding:0px 20px 0px 20px;
}

.content ul li
{
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}

.content ul li a
{
    text-decoration:none;
    color:#3e4346;
}

.content ul li a small
{
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li:last-child
{
    border-bottom:none;
}

ul.tabs li a
{
    background-repeat:repeat-x;
    background-position:bottom;
}

ul.tabs li a.active
{
    background-repeat:repeat-x;
    background-position:top;
}

.content
{
    background-repeat:repeat-x;
    background-position:bottom;
    height:120px;
}

.content ul li{
	visibility: hidden;
}

#couche_basse
{
	z-index: 1;
	position: absolute;
	height: 300px;
	width: 400px;
}

#couche_milieu
{
	z-index: 2;
	position: absolute;
	height: 300px;
	width: 400px;
}

#couche_haute
{
	z-index: 3;
	position: absolute;
	height: 300px;
	width: 400px;
}

#couche_objet
{
	z-index: 4;
	position: absolute;
	height: 300px;
	width: 400px;
}

input [type="text"]{
	width: 20px;
}

#fntBas{
	position:absolute;
	bottom: 10px;

}

input[type="number"]{
	width: 55px;
}
#formu{
	display:inline-block;
	vartical-align: top;
}

#tilesetChoisi{
	display:inline-block;
	vartical-align: top;
	overflow:auto;
	width: 270px;
	height: 200px;
}
