<section id="page">
			Le but de se projet est créer des (M)MO RPG<br>
			<h4>jeux</h4>

			le plus gros du projet RPG : le jeux jouable par navigateur, ce jeux est programmé a l'aide du language de programation JavaScript, 
			j'utilise un framework qui s'appelle RPGJS qui est une implementation du moteur de jeux (gestion, rendu, etc..) de RPG Maker XP<br>
			<h4>editeur carte</h4>

			Un editeur de map 2D inspiré de RPG Maker supporte les tileset de RPG Maker XP <br><br>
			<h4>editeur skin</h4>                             
			Cette editeur permet de créer des skins à la RPG Maker XP en assemblant plusieur images (botte, pantalons, shirt, cheveux, casque ...)
			supporte des image de type PNG probleme : probleme de superposition et accesoirement un bleme de css que j'ai la flemme de reglé ^^<br>
</section>