<section id="page">
	<h1><%= title %></h1>
	<h2>Ajouter un bug</h2>
	<div id="formAddBug" >
		<form action="/">
			<input type="text" name="titre" class="titre" placeholder="Nom"> <br>
			<input type="text" name="lieu" class="lieu" placeholder="Endroit du bug"> <br>
			description : <br>
			<textarea class="contenu"></textarea>
			<br>
			<input type="submit" value="envoyer">
		</form>
	</div>
</section>