<section id="page">
<h2>personnage (en construction)</h2>
	
	<canvas width="600" height="300" id ="rpg"> </canvas>
    <div id="bar">
		
	</div>
    <input type="button" id="start">

</section>